.env
airflow/.env

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
data/
checkpoints/
*.pt
*.npy

mlflow_local.db
mlflow.db
mlruns/
runs/

airflow/logs/
logs/
airflow/plugins/

training/hard_cases/images/
training/hard_cases/labels/
training/hard_cases/labels.cache

.DS_Store
inference/output_test.jpg
inference/depth_outputs/
training/hard_cases.yaml
