.env
airflow/.env

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

data/
checkpoints/
*.pt
*.npy

mlflow_local.db
mlruns/
mlflow/

airflow/logs/
logs/
airflow/plugins/

inference/output_test.jpg

.DS_Store

depth_outputs/
mlruns/
*.db
*.jpg